@page
@model BADSYS.Pages.Confirmation.DeregistrationModel
@{
}

<div class="tournament-deregistration-confirmation">
    <h1>CONFIRMATION : DEREGISTRATION</h1>
    <p>Successfully deregistered from the tournament. &#9989;</p>
</div>

