@page
@model BADSYS.Pages.Confirmation.RegistrationModel
@{
}

<div class="tournament-registration-confirmation">
    <h1>CONFIRMATION : REGISTRATION</h1>
    <p>Successfully registered for the tournament. &#9989;</p>
</div>
