@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BADSYS By DuelSys</h1>
    <p>BADSYS is a software solution that manages Badminton tournaments.</p>
    <p>You can see available Badminton tournaments and register for it. <br />
        You can see each tournament’s informations, schedule and game results.<br />
        You can also see your profile page with your registered tournaments and game schedule / results, if you login <a asp-page="/Login">HERE</a>.
    </p>
    <p>Made By Shuhei Hagiwara</p>
</div>
