@using DLL;
@using DAL.UserBranch;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BADSYS</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div class="container">
            <div>
                <a asp-area="" asp-page="/Index"><img src="~/image/badsys.png" style="height: 100px;" /></a>
            </div>
            <form class="nav-button">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="/Logout"><div class="logout-header">Log Out</div></a>
                }
                else
                {
                    <a asp-page="/Register"><div class="register-header">Register</div></a>
                    <a asp-page="/Login"><div class="login-header">Log In</div></a>
                }
            </form>
        </div>
    </header>

    <div class="container main">
        <nav class="navbar">
            <div>
                <ul class="navbar-list">

                    @if (User.IsInRole("User"))
                    {
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Tournaments">Tournaments</a>
                        </li>
                        <li>
                            @{UserManager userManager = new UserManager(new UserDAL()); int userId = userManager.GetUserIdByEmail(User.Identity.Name);}
                            <a class="nav-link" asp-area="" asp-page="/Profile" asp-route-userid="@userId">Profile</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Tournaments">Tournaments</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
