<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BADSYS</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div class="container">
            <div>
                <a asp-area="" asp-page="/Index"><img src="~/image/badsys.png" style="height: 100px;" /></a>
            </div>
            <form class="nav-button">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="/Logout"><div class="logout">Log Out</div></a>
                }
                else
                {
                    <a asp-page="/Register"><div class="register">Register</div></a>
                    <a asp-page="/Login"><div class="login">Log In</div></a>
                }
            </form>
        </div>
    </header>

    <div class="container main">
        <nav class="navbar">
            <div>
                <ul class="navbar-list">

                    @if (User.IsInRole("User") && User.IsInRole("PasswordChanged"))
                    {
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" asp-page="/Schedule">
                                Schedule
                            </a>
                            <ul class="dropdown-content">
                                <li><a class="nav-link" asp-page="/Timetable">Timetable</a></li>
                                <li><a class="nav-link" asp-page="/">Preferences</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Profile">Profile</a>
                        </li>
                    }
                    else if (User.IsInRole("User") && User.IsInRole("PasswordUnchanged"))
                    {
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/ChangePassword">Change Password</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-area="" asp-page="/Index">Tournaments</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
